h1 {
  color: purple;
}
body {
  background: url(https://previews.123rf.com/images/serdarbasak/serdarbasak1702/serdarbasak170200041/73932195-wood-grain-texture-pine-wood-can-be-used-as-background.jpg)
}
li {
  color: red;
}